* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    color: gray;
}

.container {
    background: white;
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-left: -30px;
}



.logo img {
    width: 10%;
    height: 10%;
    margin-bottom: -20px;
    margin-right: 10px;
    
}

.section__pic-container video {
    
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  
}

label, input {
    display: block;
    padding-right: 40px;
}

.container-form {
    background-color: rgba(0, 128, 0, 0.7);
    /* Semi-transparent green background */
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    /* Center the form */
    width: 300px;
    
    position:absolute;

    top: 64%;
    left: 49%;
    transform: translate(-50%, -50%);
    

    z-index: 1;
}

.container-form form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
    /* White text color */
}
 input[type="checkbox"] {
     /* margin-top: 10px; */
     margin-top: -20px;
     margin-bottom: 10px;
     margin-left: 35px;
 }

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

select {
    height: 45px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

input[type="submit"]:hover {
    background-color: #45a049;
}

 .about-section {
     text-align: center;
     padding: 50px;
     background-color: #fff;
     /* Background color for the About section */
     margin: 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
     /* Box shadow for a subtle effect */
 }

 .about-heading {
     font-size: 24px;
     color: #333;
     /* Text color for the heading */
     margin-bottom: 20px;
 }

 .about-paragraph {
     font-size: 16px;
     color: #555;
     /* Text color for the paragraph */
 }

 .page.active-page {
    display: block;
 }

 .page {
    display: none;
    
 }
#maze {
    margin-top: 10%;
}

.maze-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}



 .button-container {
     display: flex;
     align-items: center;
     padding: 10px;
     

 }
 /* Style for the active button state */
 .button.active-button {
    background-color: #ff5733;
     /* A different color for the active state */
     /* Add any other styles to make it visually distinct when active */
 }
 .button.active-button:hover {
    background-color: #e64721;
     /* A different color for the active state */
     /* Add any other styles to make it visually distinct when active */
 }

 /* Style for individual buttons */
 .button {
     padding: 20px 20px;
     background-color: #4CAF50;
     /* Green color */
     color: #FFFFFF;
     border: none;
     cursor: pointer;
     border-radius: 15px;
     /* Rounded corners */
     font-size: 18px;
     /* Adjust font size */
     transition: background-color 0.3s ease;
     margin-left: 30px;
     margin-right: 10%;
     margin-top: 80px;
     
     /* Smooth color transition */
 }
 .button-return {
     padding: 20px 20px;
     background-color: #4CAF50;
     /* Green color */
     color: #FFFFFF;
     border: none;
     cursor: pointer;
     border-radius: 15px;
     /* Rounded corners */
     font-size: 18px;
     /* Adjust font size */
     transition: background-color 0.3s ease;
     margin-left: 110px;
     margin-right: 10%;
     margin-top: 80px;

     /* Smooth color transition */
 }

 .button-return:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

 /* Hover effect */
 .button:hover {
     background-color: #45a049;
     /* Darker green on hover */
 }

 

.image-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* Adjust this value for the desired vertical spacing from the top */
    margin-bottom: 30px;
    /* Adjust this value for the desired vertical spacing from the maze */
}

.image_section {
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    
    margin-top: 10px;
    /* Adjust this value for the desired vertical spacing between image and text */
}

.text {
    margin-left: 90%;
}

.Floor,
.Wall,
.punishment {
    
    margin-left: 90%;
    margin-top: 60px;
    /* Adjust this value for the desired horizontal spacing between the items */
}

.yellow-square::before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: yellow;
    display: inline-block;
    margin-bottom: -4px;
    margin-left: -4.5px;
    margin-right: -4.5px;
   
}

.orange-square::before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: red;
    display: inline-block;
    margin-bottom: -4px;
    margin-left: -4.5px;
    margin-right: -4.5px;
    
}
img.hidden {
    visibility: hidden;
    display: none;
}