* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    color: gray;
}

.container {
    background: white;
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-left: -30px;
}



.logo img {
    width: 10%;
    height: 10%;
    margin-bottom: -20px;
    margin-right: 10px;
    
}

.section__pic-container video {
    
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  
}

label, input {
    display: block;
    padding-right: 40px;
}




.container-form {
    background-color: rgba(0, 128, 0, 0.7);
    /* Semi-transparent green background */
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    /* Center the form */
    width: 300px;
    
    position:absolute;

    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    /* margin-left: 500px;
    margin-top: 300px; */
    

    z-index: 1;
}

.container-form form {
    display: flex;
    flex-direction: column;
    
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
    /* White text color */
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

select {
    height: 45px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

input[type="submit"]:hover {
    background-color: #45a049;
}

 .about-section {
     text-align: center;
     padding: 50px;
     background-color: #fff;
     /* Background color for the About section */
     margin: 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
     /* Box shadow for a subtle effect */
 }

 .about-heading {
     font-size: 24px;
     color: #333;
     /* Text color for the heading */
     margin-bottom: 20px;
 }

 .about-paragraph {
     font-size: 16px;
     color: #555;
     /* Text color for the paragraph */
 }

 .page.active-page {
    display: block;
 }

 .page {
    display: none;
    
 }

.maze-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}



